<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Inchoo_Optit>
            <version>0.1.0</version>
        </Inchoo_Optit>
    </modules>
    <global>
        <blocks>
            <optit>
                <class>Inchoo_Optit_Block</class>
            </optit>
        </blocks>
        <helpers>
            <optit>
                <class>Inchoo_Optit_Helper</class>
            </optit>
        </helpers>
        <models>
            <optit>
                <class>Inchoo_Optit_Model</class>
                <resourceModel>optit_resource</resourceModel>
            </optit>
            <optit_resource>
                <class>Inchoo_Optit_Model_Resource</class>
                <entities>
                    <bulk_keyword_messages>
                        <table>optit_bulk_messages</table>
                    </bulk_keyword_messages>
                    <bulk_message_phones>
                        <table>optit_bulk_phones</table>
                    </bulk_message_phones>
                </entities>
            </optit_resource>
        </models>
        <resources>
            <optit_setup>
                <setup>
                    <module>Inchoo_Optit</module>
                </setup>
            </optit_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <optit before="Mage_Adminhtml">Inchoo_Optit_Adminhtml</optit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <optit>
                    <file>optit.xml</file>
                </optit>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <promo>
            <optit>
                <optit_password backend_model="adminhtml/system_config_backend_encrypted" />
            </optit>
        </promo>
    </default>
</config>